

.navbar .nav > li > a {

    color:  #eeb211;
}

body{
  background: white url("images/background.png");
}


html {
  font-size: 14px;
}

@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 1.2em; /* 1.2x default size */
        }
    }
@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 0.8em; /* 0.8x default size */
        }
        h3 {
          font-size: 1.2em; /* 0.8x default size */
        }
    }
